@using Resource = Resources.Home.Views.Index

@model OJS.Web.ViewModels.Home.Index.IndexViewModel

@{
    ViewBag.Title = Resource.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resource.Project_title</h1>
            <p class="lead">@Resource.Project_subtitle</p>
            @*@if (Model.ActiveContests.Any())
            {
                <div class="fb-like" data-href="http://bgcoder.com" data-send="true" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
            }*@
        </div>
    </div>
    <div class="row">
        @if (Model.ActiveContests.Any())
        {
            <h2>@Resource.Active_contests</h2>
            foreach (var contest in Model.ActiveContests)
            {
                var hoursRemaining = (int)((contest.EndTime.Value - DateTime.Now)).TotalHours;
                var minutesRemaining = (contest.EndTime.Value - DateTime.Now).Minutes;
                string remainingTimeMessage = string.Format(Resource.Remaining_time, hoursRemaining,
                        hoursRemaining != 1 ? Resource.Hours : Resource.Hour, minutesRemaining);

                <div class="col-sm-6 col-md-4 contest">
                    <div class="row">
                        <a href="@ContestsHelper.GetUrl(contest.Id, contest.Name)" class="col-xs-8">
                            <strong>@contest.Name</strong>
                        </a>
                        <a class="btn btn-success pull-left" href="@ContestsHelper.GetUrl(contest.Id, contest.Name)">
                            @Resource.Participate
                        </a>
                    </div>
                    <small>@remainingTimeMessage</small>
                </div>
            }
        }
    </div>
    @* remove news
    <div class="row">
        <div class="col-md-4">
            <h2>@Resource.News</h2>
            @{Html.RenderAction("LatestNews", "News", new { newsCount = 4 });}
        </div>
    </div>*@
    <div class="row">
        <h2>@Resource.Upcoming_contests</h2>
        @if (!Model.FutureContests.Any())
        {
            <p>@Resource.No_upcoming_contests</p>
        }
        else
        {
            foreach (var contest in Model.FutureContests)
            {
                <div class="col-sm-6 col-md-4 contest">
                    <div class="row">
                        <a href="@ContestsHelper.GetUrl(contest.Id, contest.Name)" class="col-xs-8">
                            <strong>@contest.Name</strong>
                        </a>
                        <a class="btn btn-primary pull-left" href="@ContestsHelper.GetUrl(contest.Id, contest.Name)">
                            @Resource.View
                        </a>
                    </div> 
                    <p>@Resource.Starts: @contest.StartTime.ToString()</p>
                </div>
            }
        }
    </div>
    <div class="row">
        <h2>@Resource.Previous_contests</h2>
        @if (!Model.PastContests.Any())
        {
            <p>@Resource.No_previous_contests</p>
        }
        else
        {
            foreach (var contest in Model.PastContests)
            {
                <div class="col-sm-6 col-md-4 contest">
                    <div class="row">
                        <a href="@ContestsHelper.GetUrl(contest.Id, contest.Name)" class="col-xs-8">
                            <strong>@contest.Name</strong>
                        </a>
                        <a class="btn btn-primary pull-left" href="@ContestsHelper.GetUrl(contest.Id, contest.Name)">
                            @Resource.View
                        </a>
                    </div>
                    <p>@Resource.Ended: @contest.EndTime.ToString()</p>
                </div>
            }
        }
    </div>
    <p>
        <a class="btn btn-default" href="/Contests/">@Resource.See_more &raquo;</a>
    </p>
    @if (User.IsAdmin())
    {
        <p>
            <a class="btn btn-primary" href="/Administration/Contests">@Resource.Administration &raquo;</a>
        </p>
    }
</div>
